<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Projects</h2>
                <hr class="primary">
                <p>Some Projects By Me</p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/aggarwalvinayak/Space-Invaders" class="portfolio-box">
                    <img src="img/portfolio/s.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Game
                            </div>
                            <div class="project-name">
                                Space Invaders
                            </div>
                            <div class="project-category text-faded">
                                Contributor
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://gist.github.com/bhavyagupta98/a8527b7dbd11ebfc65654699ee6a6e31" class="portfolio-box">
                    <img src="img/portfolio/2048.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Game
                            </div>
                            <div class="project-name">
                                2048
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                More Projects
                            </div>
                            <div class="project-name">
                                Coming Soon!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
         </div>
    </div>
</section>
